body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Quantico', sans-serif;
    font-size: 9px;
}

.wrapper {
    margin: 0 auto;
    padding: 30px;
    width: 800px;
}

a {
    letter-spacing: 2;
    text-decoration: none;
    transition: all 0.25s ease;
    color: black;
    display: inline;
}

.navi a:hover {
    color: red;
}

.toMap {
    padding-top: 2px;
    padding-bottom: 2px;
    border: solid 1px black;
    border-left: none;
    border-right: none;
    background-color: white;
    transition: all 0.25s ease;
}

.toMap:visited {
    color: black;
}

.toMap:hover {
    background-color: black;
    color: red;
    padding-top: 0px;
    padding-bottom: 0px;
    border: solid 1px black;
    border-left: none;
    border-right: none;
}

.navi{
    font-size: 8px;
}

.container {
    margin: 180px;
    padding: 10px;
    text-align: center;
}

.container p iframe {
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: none;
    border-bottom: none;
    padding: 10px;
}

button {
    font-family: 'Quantico', sans-serif;
    padding: 2px;
}