body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Quantico', sans-serif;
    font-size: 9pt;
}
.wrapper {
    margin: 0 auto;
    padding: 30px;
    width: 800px;
}

a {
    letter-spacing: 2;
    text-decoration: none;
    transition: all 0.5s ease;
}

.header a:visited {
    color: black;
}

.header a:hover {
    background-color: black;
    color: red;
}

.header h6{
    border-left: solid 1px black;
    margin-left: 50px;
    padding-top: 35px;
    padding-left: 10px;
    display: inline;
    font-weight: 100;
}

.container {
    margin: 180px;
    padding: 5px;
    text-align: center;
}

.container p iframe {
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: none;
    border-bottom: none;
    padding: 10px;
}


.button {
    margin: 6 0.5px;
    text-align: center;
}

.button:hover {
    color: red;
}

.footer {
    position: static;
    text-align: right;
}

.footer a:visited {
    color: black;
}

.footer a:hover {
    background-color: black;
    color: red;
}