body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: 9pt;
}

img:hover {
    background-color: #00FF00;
}

a {
    text-decoration: none;
    letter-spacing: 2;
    font-weight: 100;
    font-size: 6pt;
}

a:hover {
    background-color: #00FF00;
}

.header h6{
    border-left: solid 1px black;
    margin-left: 50px;
    padding-top: 35px;
    padding-left: 10px;
    display: inline;
    font-weight: 100;
}

.wrapper {
    margin: 20px;
    padding: 5px;
}

.interior {
    margin: 120 110 100 65px;
    padding: 20px;
}

.container {
    margin: 20px;
    padding: 5px;
    text-align: center;
}

.container p img {
    border-top: solid 2px black;
    border-left: solid 2px black;
    padding: 10px;
}

.buttonA {
    border: solid 2px white;
}

.button {
    width: 30px;
    height: 30px;
    border: solid 2px #00FF00;
    border-radius: 100%;
    font-size: 7px;
    color: white;
    position: static;
    display: inline-block;
    transition: all 0.25s ease;
}

.button p {
    margin: 6 1px;
    padding: 4.5px;
}

.button:hover {
    border: solid 2px red;
    color: red;
}

.footer {
    position: absolute;
    right: 30px;
    bottom: 30px;
    text-align: right;
}