body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Quantico', sans-serif;
    font-size: 9pt;
}

a {
    text-decoration: none;
}

.header a {
    font-size: 8px;
    letter-spacing: 2;
    transition: all 0.5s ease;
}

.header a:visited {
    color: black;
}

.header a:hover {
    background-color: black;
    color: red;
}

.header h6{
    border-left: solid 1px black;
    margin-left: 50px;
    padding-top: 35px;
    padding-left: 10px;
    display: inline;
    font-weight: 100;
}

.wrapper {
    margin: 20px;
    padding: 5px;
}

.interior {
    margin: 130 110 100 65px;
    padding: 20px;
}

.container {
    margin: 20px;
    padding: 5px;
    text-align: center;
}

.container p iframe {
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: none;
    border-bottom: none;
    padding: 10px;
}

.button {
    width: 30px;
    height: 30px;
    border: solid 2px red;
    border-radius: 100%;
    font-size: 7px;
    color: red;
    box-shadow: 0px 5px #27496d;
    position: static;
    display: inline-block;
}

.button p {
    margin: 6 0.5px;
    padding: 4.5px;
}

.button:active {
    margin: 7px;
    box-shadow: none;
}

.button a:visited {
    color: red;
}

.footer a {
    font-size: 8px;
    letter-spacing: 2;
    position: absolute;
    right: 30px;
    bottom: 30px;
    text-align: right;
    transition: all 0.5s ease;
}

.footer a:visited {
    color: black;
}

.footer a:hover {
    background-color: black;
    color: red;
}