body {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    padding: 0;
    width: 500px;
    position: relative;
}

.content {
    margin: 15px 0;
    padding: 0;
}

.speech {
    margin: 0;
    padding: 0;
    width: 50px;
    position: absolute;
    font-family: monospace;
    font-size: 10px;
    letter-spacing: 2;
}

.underline {
    text-decoration: underline;
}

.start {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: monospace;
    letter-spacing: 2;
    position: absolute;
    top: 20px;
    display: inline-block;
    width: 150px;
}

p {
    margin-top: 15px;
    font-size: 10px;
    font-family: monospace;
    letter-spacing: 2;
    display: inline-block;
}

.here {
    position: absolute;
    top: 430px;
    left: 33%;
}

.explain {
    position: absolute;
    top: 30px;
}

.leftSpeaker {
    top: 60px;
    left: 110px;
    color: red;
}

.rightSpeaker {
    top: 60px;
    left: 300px;
}

img {
    position: absolute;
}

.leftperson {
    top: 220px;
    left: 125px;
}

.rightperson {
    top: 219px;
    left: 235px;
}

.table {
    top: 220px;
    left: 180px;
    z-index: -1;
}

.clock {
    cursor: pointer;
    position: relative;
    transform: translate(41%);
    bottom: -400px;
    background-color: white;
}

.frame {
    position: absolute;
    width: 15px;
    height: 4px;
    background-color: #FFC944;
}

.vertical {
    transform: rotate(90deg);
}

.top {
    top: 12px;
    left: 17px;
}

.bottom {
    top: 30px;
    left: 17px;
}

.left {
    top: 21px;
    left: 8px;
}

.right {
    top: 21px;
    left: 26px;
}

.clockhand {
    position: absolute;
    background-color: black;
    width: 4px;
    height: 4px;
    top: 18px;
    left: 26px;
}

.second {
    top: 22px;
    left: 22px;
}