body {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.wrapper {
    margin: 0 auto;
    width: 600px;
    position: relative;
}

.content {
    margin: 15px;
    position: absolute;
    display: inline-block;
}

/* non-alphabet styles*/

h1 {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    padding-bottom: 5px;
    font-size: 24px;
    letter-spacing: 2;
    font-family: garamond, serif;
    font-weight: lighter;
    border-bottom: solid 1px black;
}

h2 {
    font-weight: lighter;
    font-family: garamond, serif;
    font-size: 16px;
}

h6 {
    font-size: 10px;
    font-weight: lighter;
    font-family: arial, sans-serif;
    letter-spacing: 2;
    position: absolute;
    margin: 0;
    padding: 0;
    display: none;
    color: blue;
}

.status {
    top: 252px;
    left: 35%;
}

.purpose {
    top: 445px;
    left: 39%;
}

.scale {
    top: 767px;
    left: 33%;
}

.personality {
    top: 948px;
    left: 45%;
}

.build:hover {
    cursor: none;
}

.firstsentence {
    font-style: italic;
    font-size: 24px;
}

.next {
    margin-top: 15px;
}

/* non-alphabet styles ---- END*/

/* alphabet styles */

.build {
    width: 94px;
    height: 94px;
    margin: 15 0px;
    margin-right: 30px;
    display: inline-block;
}

.build:hover {
    background-color: yellow;
    transition: 0.5s ease;
}

.build:hover + h6 {
    display: inline-block;
}

/* alphabet styles ---- END*/

/* EMPTY */

.empty {
    position: relative;
    border: 3px solid black;
}

.horizontal {
    border-top: 3px solid black;
    width: 100%;
    position: absolute;
}

.center {
    top: 50%;
}

.top {
    top: 25%;
}

.bottom {
    top: 75%;
}

/* EMPTY ---- END */

/* OCCUPIED */

.occupied {
    border: 3px solid black;
    position: relative;
}

/* OCCUPIED ---- END */

/* UNDER CONSTRUCTION */

.underconstruction {
    border: 3px dashed black;
}

/* UNDER CONSTRUCTION ---- END */

/* RESIDENTIAL */

.residential {
    border: 3px solid black;
    position: relative;
}

.box {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 12px;
    left: 12px;
    border: solid 3px black;
}

.roof {
    border: solid 3px black;
    border-right: none;
    border-bottom: none;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    left: 25px;
    top: 22px;
}

.housebase {
    border: solid 3px black;
    z-index: 1;
    height: 25px;
    top: 51px;
}
/* RESIDENTIAL ---- END */

/* COMMERCIAL */

.commercial {
    position: relative;
    border: 3px solid black;
}

.leftbuilding {
    position: absolute;
    border: 3px solid black;
    width: 30px;
    height: 64px;
    z-index: 1;
}

.rightbuilding {
    position: absolute;
    border: 3px solid black;
    width: 31px;
    height: 34px;
    top: 42px;
    left: 45px;
    z-index: 1;
}

/* COMMERCIAL ---- END */

/* RESIDENTIAL COMMERCIAL */

.residentialcommercial {
    position: relative;
    border: 3px solid black;
}

.comboOne {
    height: 38px;
    top: 38px;
}

.comboTwo {
    height: 14px;
    top: 62px;
}

.comboThree {
    width: 22px;
    height: 22px;
    left: 17px;
    top: 17px;
}

.comboFour {
    width: 18px;
    height: 18px;
    left: 53px;
    top: 42px;
}

/* RESIDENTIAL COMMERCIAL ---- END */

/* LEGAL */

.legal {
    position: relative;
    border: 3px solid black;
}

.wallet {
    height: 30px;
    top: 46px;
}

.coin {
    position: absolute;
    border: 3px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 29px;
    top: 13px;
}

/* LEGAL ---- END */

/* INDUSTRIAL */

.industrial {
    position: relative;
    border: 3px solid black;
}

.chimney {
    position: absolute;
    width: 16px;
    left: 63px;
    border-left: none;
}

.industrialbase {
    position: absolute;
    height: 32px;
    top: 47px;
    border-top: none;
}

.shingle {
    position: absolute;
    height: 33px;
    width: 32px;
    left: 29px;
    border-left: none;
    border-top: none;
}

.wall {
    position: absolute;
    height: 16px;
    top: 30px;
    left: -35px;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

.leftshingle {
    position: absolute;
   width: 26px;
   height: 24px;
   left: -2px;
   top: 18.5px;
    border-top: none;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
}

/* INDUSTRIAL ---- END */

/* RELIGIOUS */

.religious {
    position: relative;
    border: 3px solid black;
}

.centercircle {
    position: absolute;
    border: 3px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 29px;
    top: 29px;
}

/* RELIGIOUS ---- END */

/* GOVERNMENT */

.government {
    position: relative;
    border: 3px solid black;
}

.pedestal {
    width: 30px;
    height: 10px;
    left: 29px;
    top: 33px;
}

.pole {
    border-top: none;
    border-right: none;
    border-bottom: none;
    height: 23px;
    left: 45px;
}

.flag {
    width: 20px;
    height: 10px;
    left: 45px;
}

/* GOVERNMENT ---- END */

/* COMMUNITY */

.community {
    position: relative;
    border: 3px solid black;
}

.communitycircleone {
    position: absolute;
    top: 20px;
    left: 20px;
}

.communitycircletwo {
    position: absolute;
    top: 38px;
    left: 38px;
}

/* COMMUNITY ---- END */

/* SUPPLY */

.supply {
    position: relative;
    border: solid 3px black;
}

.crossone {
    position: absolute;
    border-top: none;
    border-right: none;
    border-bottom: none;
    top: 22px;
    left: 36px;
    height: 95px;
    transform: rotate(45deg);
}

.crosstwo {
    position: absolute;
    border-top: none;
    border-right: none;
    border-bottom: none;
    top: -23px;
    left: 36px;
    height: 95px;
    transform: rotate(-45deg);
}

/* SUPPLY ---- END */

/* SERVICE */

.service {
    position: relative;
    border: solid 3px black;
}

.halfcircle {
    position: absolute;
     height: 29px;
     width: 62px;
     top: 47px;
     left: 13px;
     border-radius: 35px 35px 0 0;
     border: solid 3px black;
}

/* SERVICE ---- END */

/* RETAIL */

.retail {
    position: relative;
    border: solid 3px black;
}

.leftbag {
    top: 31px;
    position: absolute;
    width: 45px;
    height: 45px;
}

.rightbag {
    top: 31px;
    position: absolute;
    width: 16px;
    height: 45px;
    left: 60px;
}

.handle {
    position: absolute;
     height: 16px;
     width: 26px;
     top: 12px;
     left: 30px;
     border-radius: 35px 35px 0 0;
     border: solid 3px black;
     border-bottom: none;
}

/* RETAIL ---- END */

/* MANUFACTURING */

.manufacturing {
    position: relative;
    border: solid 3px black;
}

.rollOne {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 12px;
    left: 61px;
}

.rollTwo {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 12px;
    left: 12px;
   border-radius: 15px 0 0 0;
   border-right: none;
   border-bottom: none;
}

.roll {
    position: absolute;
    width: 47px;
    top: 26px;
    height: 52px;
    border-top: none;
}

.rolltop {
    position: absolute;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 44px;
    left: 25px;
}

/* MANUFACTURING ---- END */

.medical {
    background-color: yellow;
}

.recreational {
    background-color: yellow;
}

.educating {
    background-color: yellow;
}

.advising {
    background-color: yellow;
}

.dining {
    background-color: yellow;
}

.entertaining {
    background-color: yellow;
}

.grocery {
    background-color: yellow;
}

.grooming {
    background-color: yellow;
}

.cleaning {
    background-color: yellow;
}

.promoting {
    background-color: yellow;
}

.construction {
    background-color: yellow;
}

.repair {
    background-color: yellow;
}

.novelty {
    background-color: yellow;
}

.clothing {
    background-color: yellow;
}

.looking {
    background-color: yellow;
}

.hosting {
    background-color: yellow;
}

.resting {
    background-color: yellow;
}

.living {
    background-color: yellow;
}

.health {
    background-color: yellow;
}

.transporting {
    background-color: yellow;
}