body {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.wrapper {
    margin: 0 auto;
    padding: 0;
    width: 600px;
    position: relative;
}

.content {
    margin: 15px;
    position: absolute;
    display: inline-block;
}

.group {
    margin: 0 0 15 0px;
    border: solid 1px black;
    transition: 0.25s ease-in-out;
}

/* alphabet styles */

.solidBlack {
    border: 3px solid black;
}

.dashedBlack {
    border: 3px dashed black;
}

.build {
    margin: 15px;
    display: inline-block;
    position: relative;
    width: 94px;
    height: 94px;
}

.inner {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 64px;
    height: 64px;
}

/* alphabet styles end */

/* building status */

.horizontalLine {
    border-top: 3px solid black;
    width: 100%;
    position: absolute;
}

.centerLine {
    top: 47px;
}

.topLine {
    top: 22px;
}

.bottomLine {
    top: 72px;
}

/* building status end */

/* building purpose */

.roof {
    border-right: none;
    border-bottom: none;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    left: 25px;
    top: 22px;
}

.base {
    height: 25px;
    top: 51px;
}

.leftbuilding {
    width: 30px;
    height: 64px;
}

.rightbuilding {
    border-left: none;
    width: 32px;
    height: 34px;
    top: 42px;
    left: 47px;
}

.leftComboHeight {
    height: 38px;
    top: 38px;
}

.rightComboHeight {
    height: 14px;
    top: 62px;
}

.leftComboRoof {
    width: 22px;
    height: 22px;
    left: 17px;
    top: 17px;
}

.rightComboRoof {
    width: 18px;
    height: 18px;
    left: 54px;
    top: 42px;
}

.coin {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 29px;
    top: 13px;
}

.chimney {
    width: 16px;
    height: 66px;
    left: 63px;
    border-left: none;
    border-bottom: none;
}

.factory {
    height: 15px;
    left: 14px;
    top: 63px;
    border-top: none;
    border-right: none;
}

.factoryRoof {
    height: 36px;
    width: 32px;
    left: 29px;
    border-left: none;
    border-top: none;
}

.shingle {
   height: 35px;
   left: -33px;
   top: 15px;
   border-top: none;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
}

.centered {
    left: 29px;
    top: 29px;
}

.pedestal {
    border-bottom: none;
    width: 30px;
    height: 10px;
    left: 29px;
    top: 39px;
}

.pole {
    height: 28px;
    left: 45px;
}

.flag {
    width: 20px;
    height: 10px;
    left: 45px;
}

.communitycircleone {
    top: 20px;
    left: 20px;
}

.communitycircletwo {
    top: 38px;
    left: 38px;
}

/* building purpose end */

/* building scale */

.verticalLine {
    border-top: none;
    border-right: none;
    border-bottom: none; 
}

.cross {
    height: 94px;
    left: 36px;
}

.rightToLeft {
    top: 22px;
    transform: rotate(45deg);
}

.leftToRight {
    top: -23px;
    transform: rotate(-45deg);
}

.halfcircle {
    position: absolute;
    height: 27px;
    top: 50px;
    border-radius: 35px 35px 0 0;
}

.bag {
    height: 45px;
    top: 31px;
    position: absolute;
}

.leftSideBag {
    width: 45px;
    border-right: none;
}

.rightSideBag {
    width: 17px;
    left: 59px;
}

.handle {
    height: 17px;
    width: 26px;
    top: 12px;
    left: 30px;
    border-bottom: none;
}

.tube {
    width: 15px;
    height: 15px;  
    top: 12px;
}

.tubeRight {
    left: 62px;
}

.tubeLeft {
    left: 12px;
   border-radius: 15px 0 0 0;
   border-right: none;
   border-bottom: none;
}

.strip {
    border-top: none;
    border-left: none;
}

.leftSideStrip {
    width: 0px;
    top: 25px;
    height: 52px;
}

.rightSideStrip {
    width: 50px;
    top: 22px;
    height: 56px;
}

.topSideStrip {
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 45px;
    left: 25px;
}