body {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.wrapper {
    margin: 0 auto;
    width: 600px;
    position: relative;
}

.content {
    margin: 15px;
    position: absolute;
    display: inline-block;
}

h1 {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    padding-bottom: 5px;
    font-size: 24px;
    letter-spacing: 2;
    font-family: garamond, serif;
    font-weight: lighter;
    border-bottom: solid 1px black;
}

h2 {
    font-weight: lighter;
    font-family: garamond, serif;
    font-size: 16px;
}

h6 {
    font-size: 10px;
    font-family: arial, sans-serif;
    letter-spacing: 1;
    padding: 0;
}

.firstsentence {
    font-style: italic;
    font-size: 24px;
}

.bold {
    font-family: garamond, serif;
    font-weight: bold;
    letter-spacing: 2;
    font-size: 8px;
}

.next {
    margin-top: 15px;
}

.build {
    width: 97px;
    height: 97px;
    margin: 15 0px;
    margin-right: 15px;
    display: inline-block;
}

.empty {
    position: relative;
    background-color: yellow;
}

.occupied {
    border: 3px solid black;
}

.underconstruction {
    border: 3px dashed black;
}

.community {
    position: relative;
    background-color: yellow;
}

.religious {
    position: relative;
    background-color: yellow;
}

.church {
    margin: 5px;
    position: absolute;
    width: 35px;
    height: 35px;
    border: 3px solid black; 
}

.center {
    position: absolute;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    left: 17px; 
    top: 17px;
    border: 3px solid black;
    border-radius: 50%;
}

.residential {
    background-color: yellow;
}

.commercial {
    background-color: yellow;
}

.residentialcommercial {
    background-color: yellow;
}

.residential {
    background-color: yellow;
}

.legal {
    background-color: yellow;
}

.industrial {
    background-color: yellow;
}

.government {
    background-color: yellow;
}

.supply {
    background-color: yellow;
}

.service {
    background-color: yellow;
}

.retail {
    background-color: yellow;
}

.manufacturing {
    background-color: yellow;
}

.medical {
    background-color: yellow;
}

.recreational {
    background-color: yellow;
}

.educating {
    background-color: yellow;
}

.advising {
    background-color: yellow;
}

.dining {
    background-color: yellow;
}

.entertaining {
    background-color: yellow;
}

.grocery {
    background-color: yellow;
}

.grooming {
    background-color: yellow;
}

.cleaning {
    background-color: yellow;
}

.promoting {
    background-color: yellow;
}

.construction {
    background-color: yellow;
}

.repair {
    background-color: yellow;
}

.novelty {
    background-color: yellow;
}

.clothing {
    background-color: yellow;
}

.looking {
    background-color: yellow;
}

.hosting {
    background-color: yellow;
}

.resting {
    background-color: yellow;
}

.living {
    background-color: yellow;
}

.health {
    background-color: yellow;
}

.transporting {
    background-color: yellow;
}