body {
    background-color: white;
    margin: 0;
    padding-top: 28;
    padding-left: 35;
    font-family: 'Quantico', sans-serif;
    font-size: 9px;
}

.container p iframe {
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: none;
    border-bottom: none;
    padding: 10px;
}

button {
    font-family: 'Quantico', sans-serif;
    padding: 2px;
    margin-left: 38px;
}