body {
    margin: 10px;
    padding: 5px;
    font-family: 'Quantico', sans-serif;
}

message {
    width: 300px;
    height: 100px;
}

h1 {
    color: #000FFF;
    font-size: 20px;
}

a {
    transition: all 7s ease;
    text-decoration: none;
}

a:hover {
    -webkit-animation-delay: 5s; /* Chrome, Safari, Opera */
    animation-delay: 5s;
    opacity: 0;
}

a:visited {
    color: #000FFF;
    text-decoration: none;
}

scpan {
    text-decoration: underline;
    font-size: 24px;
}

p{
    font-size: 14px;
}

