body {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.wrapper {
    margin: 0 auto;
    width: 500px;
    position: relative;
}

.content {
    margin: 15px 0;
    position: absolute;
}

h1 {
    margin: 15 0px;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 3;
    font-family: arial, sans-serif;
    display: inline-block;
}

h1:hover {
    background-color: #00FFFF;;
}

.pieceone:hover {
    border-color: #00FFFF;
}

.underconstruction {
    position: relative;
    width: 280px;
    height: 280px;
    border: 10px dashed black;
}

.base {
    position: absolute;
    margin: 15px;
    transform: translate(23%, 150%);
    width: 150px;
    height: 70px;
    border: 10px solid black;
    z-index: 1;
}

.post {
    position: absolute;
    height: 60px;
    border: 5px solid black;
    transform: translate(1300%, 75%);
}

.fabric {
    position: absolute;
    height: 20px;
    width: 50px;
    background-color: white;
    border: 10px solid black;
    transform: translate(186%, 130%);
}

.roof {
    position: absolute;
    height: 50px;
    width: 50px;
    border-top: solid 10px black;
    border-left: solid 10px black;
    transform: rotate(45deg);
    top: 43%;
    left: 38%;
    background-color: white;
}