body {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 600px;
}

.content {
  margin: 15px 0;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
  display: inline-block;
  z-index: 1;
}

.name {
  position: absolute;
  top: -13px;
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

h1 {
  margin: 15px 0;
  padding: 0;
  display: inline-block;
  font-weight: lighter;
  font-size: 50px;
  letter-spacing: 3;
}

.button {
  position: fixed;
  font-size: 30px;
  top: 15px;
  left: 760px;
}

.button:hover {
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
  animation: example 1s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes example {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.links {
  position: absolute;
  top: 80px;
}