/* Default Settings Start */
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  color: black;
}

.wrapper {
  width: 381px;
  margin: 0 auto;
  font-size: 0;
}

.container {
  font-size: 14px;
  margin: 15px;
  display: inline-block;
}

.tab {
  width: 106px;
  letter-spacing: 3px;
  text-align: center;
  display: inline-block;
  position: relative;
}

.bar {
  width: 381px;
  margin-top: 230px;
  border-bottom: solid 2px black;
  position: absolute;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.who {
  background-color: #00ffff;
  transition: 0.25s ease-in-out;
}

.who:hover {
  padding-right: 169px;
}

.what {
  background-color: #ff00ff;
  float: right;
  transition: 0.25s ease-in-out;
}

.what:hover {
  padding-left: 169px;
}

/* Default Settings End */
